<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.store.mapper.EmployeeMapper">
    <resultMap id="EmployeeDto" type="com.example.store.dto.EmployeeDto">
        <result property="empCode" column="EMP_CODE"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="empAge" column="EMP_AGE"/>
        <result property="empGender" column="EMP_GENDER"/>
        <result property="empPhoneNo" column="EMP_PHONE_NO"/>
        <result property="empMailNo" column="EMP_MAIL_NO"/>
        <result property="empAccountNo" column="EMP_ACCOUNT_NO"/>
        <result property="part" column="PART"/>
        <result property="salary" column="SALARY"/>
        <result property="empBankName" column="EMP_BANK_NAME"/>
    </resultMap>

    <insert id="InsertEmployee" parameterType="com.example.store.dto.EmployeeDto">
        BEGIN
            insert into employee(EMP_CODE, EMP_NAME, EMP_AGE, EMP_GENDER, EMP_PHONE_NO, EMP_MAIL_NO, EMP_ACCOUNT_NO, PART, SALARY, EMP_BANK_NAME) values (#{empCode}, #{empName}, #{empAge}, #{empGender}, #{empPhoneNo}, #{empMailNo}, #{empAccountNo}, #{part}, #{salary}, #{empBankName});
        END;
    </insert>
    <select id="SelectAllEmployee" resultMap="EmployeeDto">
        select * from EMPLOYEE
    </select>
    <select id="SelectEmployeeByCode" parameterType="string" resultMap="EmployeeDto">
        select * from EMPLOYEE where EMP_CODE = #{empCode}
    </select>
    <delete id="DeleteEmployeeByCode" parameterType="String">
        delete from EMPLOYEE where EMP_CODE = #{empCode}
    </delete>
    <update id="UpdateEmployee" parameterType="com.example.store.dto.EmployeeDto">
        BEGIN
            update EMPLOYEE set EMP_NAME = #{empName}, EMP_AGE = #{empAge}, EMP_GENDER = #{empGender}, EMP_PHONE_NO = #{empPhoneNo}, EMP_MAIL_NO = #{empMailNo}, EMP_ACCOUNT_NO = #{empAccountNo}, PART = #{part}, SALARY = #{salary} where EMP_CODE = #{empCode};
        END;
    </update>
</mapper>