<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.store.mapper.ProdManageMapper">
    <resultMap id="ProdManageDto" type="com.example.store.dto.ProdManageDto">
        <result property="manageDate" column="MANAGE_DATE"/>
        <result property="manageTypeCode" column="MANAGE_TYPE_CODE"/>
        <result property="errorQuantity" column="ERROR_QUANTITY"/>
        <result property="errorReason" column="ERROR_REASON"/>
        <result property="empCode" column="EMP_CODE"/>
        <result property="productCode" column="PRODUCT_CODE"/>
    </resultMap>

    <insert id="InsertProdManage" parameterType="com.example.store.dto.ProdManageDto">
        BEGIN
           insert into PROD_MANAGE(MANAGE_DATE, MANAGE_TYPE_CODE, ERROR_QUANTITY, ERROR_REASON, EMP_CODE, PRODUCT_CODE) values (#{manageDate}, #{manageTypeCode}, #{errorQuantity}, #{errorReason}, #{empCode}, #{productCode});
        END;
    </insert>

    <select id="SelectAllProdManage" resultMap="ProdManageDto">
        select * from PROD_MANAGE
    </select>
</mapper>